<!DOCTYPE html>
<html lang="es">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Facultad de Arquitectura - USAC">
        <meta name="author" content="Angel Caal">

        <title>Sistema de información académica - Estudiante</title>

        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>


        <!-- Bootstrap core CSS -->
        <link href="../css/bootstrap.css" rel="stylesheet">
        <link href="../css/menu.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="../css/sb-admin.css" rel="stylesheet">
        <link href="../css/bootstrap-theme.css" rel="stylesheet">


        <!-- Custom Fonts -->
        <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="../js/ie-emulation-modes-warning.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>

        {mensaje_aviso}

        {mensaje_error}

        {mensaje_proceso_finalizado}

        <div id="wrapper">
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">
                                Asignación (Ya no podrá cambiar de jornada)
                            </h1>
                            <!--ol class="breadcrumb">
                                <li class="active">
                                    <i class="fa fa-info"></i> Elija la(s) asignatura(s) a cursar en el semestre:
                                </li>
                            </ol -->
                        </div>
                    </div>

                    <div class="row" id="noda">
                        <div class="col-lg-8">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Selección de Jornada
                                </div>
                                <form method="POST" action="asignacion_semestre_seleccion_sin_disenio.php?evaluacion=1">
                                    <div class="panel-body">
                                        <ol class="breadcrumb">
                                            <li class="active">
                                                <i class="fa fa-info"></i> Conforme al requerimiento de Escuela, debe seleccionar la jornada

                                            </li>
                                        </ol>
                                        <div class="list-group">
                                            <div class="list-group-item">							
                                                <font class="btn btn-info btn-xs" title="Jornadas">Jornada:</font>
                                                <div class="btn">
                                                    <select class="form-control" name="jornada">
                                                        <option value="M" class="{ocultar_matutina}" selected>Matutina</option>
                                                        <option value="V">Vespertina</option>
                                                    </select>
                                                </div>
                                                <input class="btn btn-primary" type="submit" value="Confirmar">
                                            </div>
                                            <br />
                                            <!--i class="fa fa-info"></i> <b >De acuerdo al requerimiento de la Dirección de Escuela, si usted se va a asignar un curso del primer semestre, debe de seleccionar la jornada vespertina.</b-->
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </body>
</html>
