<!DOCTYPE html>
<html lang="es">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Facultad de Arquitectura - USAC">
        <meta name="author" content="Angel Caal">

        <title>Sistema de información académica - Estudiante</title>

        <!-- Bootstrap core CSS -->
        <link href="../css/bootstrap.css" rel="stylesheet">
        <link href="../css/menu.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="../css/sb-admin.css" rel="stylesheet">
        <link href="../css/bootstrap-theme.css" rel="stylesheet">


        <!-- Custom Fonts -->
        <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="../js/ie-emulation-modes-warning.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>

        {mensaje_aviso}

        {mensaje_error}

        {mensaje_proceso_finalizado}

        <div id="wrapper">
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">
                                Prácticas técnicas intermedias
                            </h1>
                            <ol class="breadcrumb">
                                <li class="active">
                                    <i class="fa fa-info"></i> Solicitud, registro y control de prácticas técnicas intermedias
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Detalles de la asignaci&oacute;n
                                </div>
                                <div class="panel-body">
                                    <!-- BEGIN listado_practicas_activas -->
                                    <div class="table table-responsive">
                                        <table class="table table-striped">
                                            <tr>
                                                <td align="right">Prácticas técnica</td>
                                                <td><b>{codigo} - {asignatura}</b></td>
                                            </tr>
                                            <tr>
                                                <td align="right">Regi&oacute;n</td>
                                                <td>{departamento} - {municipio}</td>
                                            </tr>
                                            <tr>
                                                <td align="right">Periodo</td>
                                                <td>{periodo_descripcion}</td>
                                            </tr>
                                            <tr>
                                                <td align="right">Observación</td>
                                                <td>{region_observacion}</td>
                                            </tr>
                                            <tr>
                                                <td align="right">Requisito</td>
                                                <td>{requisito}</td>
                                            </tr>
                                            <tr>
                                                <td align="right">Documentos</td>
                                                <td>Por favor, revisar la sección de <a href="../docs/documentos.php" >Documentos</a>.</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- END listado_practicas_activas -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- BEGIN asignacion_extra -->
                <!-- form method="POST" action="../aucas/asignacion_aucas_revision.php">
                    <input type="hidden" name="codigo" value="{codigo_extra}" />
                    <input type="hidden" name="periodo" value="{periodo_extra}" />
                    <input type="submit" class="btn btn-danger" name="action" value="Asignación Extra - {texto_asignacion_extra}" />
                </form -->
                <!-- END asignacion_extra -->
            </div>
        </div>

    </body>
</html>
