<!DOCTYPE html>
<html lang="es">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Facultad de Arquitectura - USAC">
        <meta name="author" content="Angel Caal">

        <title>Sistema de información académica - Estudiante</title>

        <!-- Bootstrap core CSS -->
        <link href="../css/bootstrap.css" rel="stylesheet">
        <link href="../css/menu.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="../css/sb-admin.css" rel="stylesheet">
        <link href="../css/bootstrap-theme.css" rel="stylesheet">


        <!-- Custom Fonts -->
        <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="../js/ie-emulation-modes-warning.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>

        {mensaje_aviso}

        {mensaje_error}

        {mensaje_proceso_finalizado}

        <div id="wrapper">
            <div id="page-wrapper">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">
                                Solicitud de certificación <!-- - *** Última fecha para SOLICITUD y PAGO: 23/11/2021-->
                            </h1>
                            <ol class="breadcrumb">
                                <li class="active">
                                    1. Elegir de la lista la carrera en la que se desea solicitar la certificación de cursos aprobados y el tipo de certificación (normal o ponderada).<br>
                                    2. Con la solicitud realizada, generar la orden de pago y realizar el pago en línea o en la banca virtual de los bancos autorizados.<br>
                                    3. Costos: Postgrados Q20.00, Pregrado normal Q2.00 y Pregrado ponderada Q10.00.<br>
                                    4. **Puede recoger su constancia en la recepción de Arquitectura.**<br>
                                    <b>5. Las certificaciones de cursos se imprimen el día miércoles por la tarde. El tiempo de entrega estimado es de una semana si realiza su pago antes del día miércoles de cada semana. (todas las órdenes de pago, generadas en el sistema de Control Académico, no confirmadas automáticamente son revisadas previo a realizar la impresión de las certificaciones)</b> <br />
                                    <b>*** La generación de orden de pago se realiza en este portal únicamente. ***</b>
                                    <br>
                                    <!--<a href='../docs/Manuales/Manual_de_procedimiento-Solicitud_y_pago_de_certificaciones_de_cursos_aprobados.pdf' target="_blank">---Manual del Procedimiento---</a>-->
                                </li>
                            </ol>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Formulario de solicitud
                                </div>
                                <form method="POST" action="../certificaciones/certificacion_solicitud_procesar_nf.php" OnSubmit="">
                                    <div class="panel-body">
                                        <select class="form-control-static" name="carrera" required>
                                            <option selected></option>
                                            <!-- BEGIN listado_carreras -->
                                            <option value="{codigo_carrera}">{codigo_carrera} - {nombre_carrera}</option>
                                            <!-- END listado_carreras -->
                                        </select>
                                        <input type="hidden" name="cantidad" value='1'>
                                        <select class="form-control-static" name="ponderada" required>
                                            <option value="0" selected>Normal</option>
                                            <option value="1">Ponderada</option>
                                        </select>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="pull-right">
                                            <input class="btn btn-primary" type="submit" size="5" style="text-align: center" value="Solicitar">
                                        </div><br><br>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading" style="cursor: pointer;" onclick="mostrarValidar()">
                                    <b>Validar orden de pago generada fuera de este portal (SIIF)</b>
                                </div>
                                <div class="panel-body" style="display: none;" id="div-validar">
                                    <form method="POST" action="../certificaciones/certificacion_solicitud_procesar_validarext.php" OnSubmit="">
                                        <input class="form-control-static" name="orden_pago" placeholder="Orden de Pago" required />
                                        <input class="form-control-static" name="numero_recibo" placeholder="Número de Recibo" required />
                                        <select class="form-control-static" name="carrera" required>
                                            <option selected></option>
                                            <!-- BEGIN listado_carreras2 -->
                                            <option value="{codigo_carrera2}">{codigo_carrera2} - {nombre_carrera2}</option>
                                            <!-- END listado_carreras2 -->
                                        </select>
                                        <select class="form-control-static" name="cantidad" required>
                                            <option selected value="1">1</option>
                                            <option  value="1">2</option>
                                            <option  value="2">3</option>
                                            <option  value="3">4</option>
                                            <option  value="4">5</option>
                                            <option  value="5">6</option>
                                            <option  value="6">7</option>
                                            <option  value="7">8</option>
                                        </select>
                                        <select class="form-control-static" name="ponderada" required>
                                            <option value="0" selected>Normal</option>
                                            <option value="1">Ponderada</option>
                                        </select>
                                        <input class="btn btn-primary" type="submit" size="5" style="text-align: center" value="Validar">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Historial de solicitudes
                                </div>
                                <form method="POST" action="../certificaciones/certificacion_solicitud_procesar_orden.php" OnSubmit="">
                                    <div class="panel-body">
                                        <table class="table table-stripped table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>Fecha de solicitud</th>
                                                    <th>Carrera</th>
                                                    <th>Cantidad</th>
                                                    <th>Tipo de Certificación</th>
                                                    <th>Orden de Pago</th>
                                                    <th>Estado</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            <thead>
                                            <tbody>
                                                <!-- BEGIN listado_solicitudes -->
                                                <tr>
                                                    <td>{fecha_solicitud}</td>
                                                    <td>{carrera_nombre}</td>
                                                    <td>{cantidad}</td>
                                                    <td>{tipo}</td>
                                                    <td>{orden_pago}</td>
                                                    <td>{estado}</td>
                                                    <td>{acciones}</td>
                                                </tr>
                                                <!-- END listado_solicitudes -->
                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>

        <script>
            function mostrarValidar(){
                $("#div-validar").show("slow");
            }
        </script>
        <script src="../js/jquery.min.js"></script>
        
    </body>
</html>
