<!DOCTYPE html>
<html lang="es">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Facultad de Arquitectura - USAC">
        <meta name="author" content="Angel Caal">

        <title>Sistema de información académica - Estudiante</title>

        <!-- Bootstrap core CSS -->
        <link href="../css/bootstrap.css" rel="stylesheet">
        <link href="../css/menu.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="../css/sb-admin.css" rel="stylesheet">
        <link href="../css/bootstrap-theme.css" rel="stylesheet">


        <!-- Custom Fonts -->
        <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="../js/ie-emulation-modes-warning.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>

        <div id="wrapper">
            <div id="page-wrapper">
                <div class="container-fluid">
					<br /><br />
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Procesos Académicos
                                </div>
                                <div class="panel-body">
                                    <a href='../docs/Form_UICA-03_ Examen_por_Suficiencia.xlsx' target='_blank'>Examen por Suficiencia</font></a><br />
                                    <a href='../docs/Informacion_para_Examen_de_Suficiencia.docx' target='_blank'>Información para Examen de Suficiencia</font></a><br />
                                    <a href='../docs/solicitud_cuarta.pdf' target='_blank'>Solicitud Cuarta Oportunidad</font></a><br />
                                    <a href='../docs/Solicitud de revision de nota.xlsx' target='_blank'>Solicitud de revisión de nota</font></a><br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Ejercicio Profesional Supervisado - Arquitectura
                                </div>
                                <div class="panel-body">
                                    <a href='../docs/eps/Manual_EPSDA_Estudiante.pdf' target='_blank'>Manual EPSDA Estudiante</font></a><br />
                                    <a href='../docs/eps/VIDEO_Asignacion_Comunidad.mp4' target='_blank'>VIDEO Asignación de Comunidades</font></a><br />
                                    <a href='../docs/eps/VIDEO_Sistema_Proyecto.mp4' target='_blank'>VIDEO Sistema de Proyectos</font></a><br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Ejercicio Profesional Supervisado - Arquitectura 2020-1
                                </div>
                                <div class="panel-body">
                                    <a href='../docs/eps/Manual_EPSDA_Estudiante.pdf' target='_blank'>Manual EPSDA Estudiante</font></a><br />
                                    <a href='../docs/eps/202001/Calendario_EPS_2020_IRG_Y_AMG_Estudiantes.pdf' target='_blank'>Calendario EPS 2020 IRG Y AMG Estudiantes</font></a><br />
                                    <a href='../docs/eps/VIDEO_Asignacion_Comunidad.mp4' target='_blank'>VIDEO Asignación de Comunidades</font></a><br />
                                    <a href='../docs/eps/VIDEO_Sistema_Proyecto.mp4' target='_blank'>VIDEO Sistema de Proyectos</font></a><br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Ejercicio Profesional Supervisado - Arquitectura 2019-2
                                </div>
                                <div class="panel-body">
                                    <a href='../docs/eps/201902/fechas_importantes.pdf' target='_blank'>Fechas Importantes</font></a><br />
                                    <a href='../docs/eps/201902/Calendario_EPS_2019-2_IRG-AMG_Estudiantes.pdf' target='_blank'>Calendario de actividades del EPS para estudiantes</font></a><br />
                                    <a href='../docs/eps/201902/PROGRAMA_CURSILLO_2019-2.pdf' target='_blank'>Programa del Cursillo del EPS</font></a><br />
                                </div>
                            </div>
                        </div>
                    </div-->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Prácticas Técnicas
                                </div>
                                <div class="panel-body">
                                    <a href='../docs/practica_tecnica/INFORMACION DE ACTIVIDADES DE PRACTICAS TECNICAS.pdf' target='_blank'>Información de Actividades</font></a><br />
                                    <a href='../docs/practica_tecnica/Control_de_asistencia_de_practica_tecnica.xlsx' target='_blank'>Control de asistencia de práctica técnica</font></a><br />
                                    <a href='../docs/practica_tecnica/INFORME_Y_CONSTANCIA_DE_PRACTICAS.doc' target='_blank'>Informe y constancia de prácticas</font></a><br />
                                    <a href='../docs/practica_tecnica/Guia_de_practicas_Tecnicas_1.pdf' target='_blank'>Guía de práctica técnica 1</font></a><br />
                                    <a href='../docs/practica_tecnica/Guia_de_practicas_Tecnicas_2.pdf' target='_blank'>Guía de práctica técnica 2</font></a><br />
                                    <!-- a href='../docs/practica_tecnica/PT_sedes.zip' target='_blank'>Sedes disponibles - Prácticas Técnicas 2018-2</font></a><br / -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Programa de Apoyo al Estudiante Trabajador
                                </div>
                                <div class="panel-body">
                                    <a href='../docs/declaracion jurada minuta arquitectura.docx' target='_blank'> Formato de Declaración Jurada</font></a><br />
                                </div>
                            </div>
                        </div>
                    </div-->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Proyectos de Graduación - Arquitectura
                                </div>
                                <div class="panel-body">
                                    <a href='../docs/proyecto_graduacion/declaracion-jurada-pga.docx' target='_blank'> Formato de Declaración Jurada</font></a><br />
                                    <a href='../docs/proyecto_graduacion/Proceso_de_Graduacion_ARQ.pdf' target='_blank'> Proceso de Graduación</font></a><br />
                                    <a href='../docs/proyecto_graduacion/Esquema_Proyecto_de_Graduacion_ARQ.pdf' target='_blank'> Esquema del Proyecto de Graduación</font></a><br />
                                    <a href='../docs/proyecto_graduacion/Normativo_Graduacion_ARQ.pdf' target='_blank'> Normativo del Sistema de Graduación de la Licenciatura de Arquitectura</font></a><br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Proyectos de Graduación - Diseño Gráfico
                                </div>
                                <div class="panel-body">
                                    <a href='../docs/proyecto_graduacion/Guia Metologica para Proyecto de Graduacion - DG.pdf' target='_blank'>Guia Metológica para Proyecto de Graduación</font></a><br />
                                    <a href='../docs/proyecto_graduacion/Guia para revision de protocolos - DG.pdf' target='_blank'> Guía para revisión de protocolos</font></a><br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
