<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Sistema de Información Académica - Estudiante</title>
        <link rel="stylesheet" type="text/css" href="../css/estilo.css">
        <script type="text/javascript" src="../js/funciones.js"></script>
    </head>
    <body>

        <div id="menu_header">
            <font>Examen Público ></font>
        </div>

        <div id="content">
            <table>
                <tr>
                    <td>
                        <font id="texto_20">Examen Público de Graduación</font>&nbsp;&nbsp;<font id="texto-14">[Según Acuerdo de Decano  DE-127-2012],</font><br>
                        <font id="texto-15">Instructivo de exámen público de graduación</font>
                    </td>
                </tr>		
            </table> 
            <table bgcolor="#F2F2F2">		
                <tr>
                    <td colspan="2">
                        <div id="capaDerechaNaranja">
                            <b><font id="texto-14">A.	Solicitar autorización de impresión del Proyecto de Graduación</font></b>
                            <hr id="linea_naranja">
                            <font id="texto-14">
                            Presentar en secretaría del Decanato en los días martes, miércoles o jueves, en horario de 14:00 a 19:00 horas, la siguiente documentación:

                            <ul style="list-style: none;">
                                <li>
                                    1.	Proyecto de Graduación: arte final, con la diagramación y carátula,  tal y como se imprimirá.
                                    <ul>
                                        <li>1.	El Documento debe ser impreso en tamaño carta en sentido vertical, en tiro y retiro.</li>
                                        <li>
                                            2.	El Diseño de la Carátula es libre pero debe tener:
                                            <ul>
                                                <li>
                                                    <a id="enlace_varios" href="../images/logo_farusac_azul.png" target="_blanck">El Logotipo de la Facultad de Arquitectura</a>
                                                </li>
                                                <li>
                                                    <a id="enlace_varios" href="../images/logousac.jpg" target="_blanck">El escudo de la Universidad de San Carlos</a>
                                                </li>
                                                <li>El "título del proyecto de graduación"</li>
                                                <li>Proyecto desarrollado por (nombre completo) para optar al título de Arquitecto(a) o Licenciado(a) en Diseño Gráfico, Facultad de Arquitectura, Universidad de San Carlos de Guatemala</li>
                                                <li>La fecha de impresión, indicando solamente "Guatemala, mes, año"</li>
                                            </ul>
                                        </li>
                                        <li>
                                            3.	En la contra pasta o en la primera hoja, debe aparecer:
                                            <ul>
                                                <li>El listado con los nombres completos de los <a id="enlace_varios" href="../docs/publico/Miembros de Junta Directiva.pdf" target="_blanck">Miembros de Junta Directiva</a></li>
                                                <li>El listado con los nombres completos de los miembros del tribunal examinador del examen privado</li>												
                                            </ul>
                                        </li>
                                    </ul>
                                <li>
                                <li>
                                    2.	Resumen del Proyecto de Graduación:
                                    <ul>
                                        <li>1.	Exponer el proyecto de graduación puede ser el capítulo de introducción, indicando de forma resumida el objetivo, la justificación, la metodología, y la descripción del proyecto, acompañado de las principales imágenes del proyecto.</li>
                                        <li>2.	No deberá de exceder todo de cuatro páginas. </li>								
                                    </ul>
                                <li>
                                <li>
                                    3.	Aprobación de correcciones: <a id="enlace_varios" href="../docs/publico/Carta correcciones de examen privado.docx">Carta de los examinadores</a> dirigida al señor Decano haciendo constar que el estudiante hizo las correcciones indicadas en el Acta de Examen Privado. (Si las hubiere).
                                <li>
                                <li>
                                    4.	Copia del acta de examen privado.
                                <li>
                                <li>
                                    5.	<a id="enlace_varios" href="../docs/publico/Constancia revision estilo.docx">Constancia de revisión de estilo:</a> Carta, en papel membretado, dirigida al señor Decano donde se hace constar que se efectuó la revisión de ortografía, redacción y estilo del proyecto de graduación, por parte del Licenciado en Letras. Adjuntar la constancia de colegiado activo. Únicamente se acepta constancia de <a id="enlace_varios" href="../docs/publico/Licenciados(as) en letras.pdf" target="_blanck">profesional calificado</a> por la Secretaría Académica de la Facultad de Arquitectura. (Esta carta debe ir impresa en la penúltima página del documento).
                                <li>
                                <li>
                                    6.	<a id="enlace_varios" href="../docs/publico/Autorizacion de impresion.docx">Autorización de impresión del proyecto:</a> hoja original con la firma del estudiante y los asesores. (Esta autorización debe ir impresa en la última página del documento).
                                <li>
                                <li>
                                    7.	<a id="enlace_varios" href="../docs/publico/Carta para institucion.docx">Carta para la institución u organismo beneficiario del proyecto:</a> carta en papel membretado dirigida a las autoridades de la institución que solicitó la asesoría profesional; para que sea firmada por el Decano.
                                <li>
                            </ul>
                            </font>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="capaDerechaVerde">
                            <b><font id="texto-14">B.	Firma de autorización de impresión: El Decano revisará los documentos anteriores, y si esta todo completo firmará la autorización para que el Proyecto sea impreso.</font></b>
                            <hr id="linea_verde">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="capaDerecha">
                            <b><font id="texto-14">C.	Al tener impreso el libro de su proyecto:</font></b>
                            <hr>
                            <font id="texto-14">
                            <ul style="list-style: none;">
                                <li>1.	Grabar en un CD:</li>
                                <ul>
                                    <li>
                                        I.	El  documento completo del proyecto de graduación en formato PDF
                                        <ul>
                                            <li>Incluye caratula, nómina de autoridades, índice, contenido, bibliografía, anexos, Constancia de revisión de estilo firmada, Autorización de impresión del proyecto firmada.</li>
                                            <li>No se debe separar los capítulos en carpetas</li>
                                            <li>La numeración debe ser idéntica al de la impresión</li>
                                            <li>Los planos no deben separarse, deben estar unificados en el mismo archivo tal y como está la impresión.</li>
                                        </ul>
                                    </li>
                                    <li>II.	El resumen del proyecto de graduación en formato PDF. </li>
                                    <li>III.	La presentación en multimedia, video o animación que usó en el examen privado.  </li>
                                    <li>IV.	Elaborar una carátula (tanto para el cd como para la caja) con la misma información de la carátula del libro. Utilizar un CD imprimible, no pegar calcomanía al disco.</li>
                                </ul>
                                <li>2.	Entregar un ejemplar del libro y del CD a la institución u organismo beneficiario del proyecto, acompañando la carta indicada en el numeral 6, verificando que le sellen de recibido una copia</li>
                                <li>3.	Entregar los ejemplares correspondientes del libro y del CD en los lugares indicados en la lista de <a id="enlace_varios" href="../docs/publico/Contancia de entrega de libros.docx">constancia de recepción</a>; empezar la entrega por Secretaría Académica al correo tesis.secretaria@farusac.edu.gt.</li>
                            </ul>
                            </font>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="capaDerechaAzul">
                            <b><font id="texto-14">D.	Solicitud de examen público</font></b>
                            <hr id="linea_azul">
                            <font id="texto-14">
                            Presentar en la Recepción de la Facultad los días martes, miércoles o jueves, en horario de 14:00 a 19:00 horas, la siguiente documentación:
                            <ul style="list-style: none;">
                                <li>1.	<a id="enlace_varios" href="../publico/examen_publico_constancia.php" target="_blanck">Constancia de Solicitud de examen público del año en curso.</a></li>
                                <li>2.	Carta a la institución beneficiaria del proyecto, con firma y sello de recepción en original.</li>
                                <li>3.	Hoja original de la constancia de recepción de entrega de los ejemplares y Cd´s del proyecto de graduación. </li>
                                <li>4.	Para los que cerraron con pensum 2002
                                    <ul>
                                        <li>I. i.	Original de certificación de dominio de un segundo idioma extendido por CALUSAC. En el caso del idioma inglés, el certificad es por dominar como mínimo el nivel 8.</li>
                                        <li>II.	Constancia de dominio de programas de computación extendido por los laboratorios de la Facultad de Arquitectura o del INTECAP.</li>
                                    </ul>
                                </li>
                                <li>5.	Original de constancia de créditos extracurriculares extendida por la Asociación de Estudiantes.</li>
                                <li>6.	Solvencias originales de la Biblioteca Central y la Biblioteca de la Facultad. Tomar en cuenta que estas solvencias son válidas sólo por 24 horas.</li>
                                <li>7.	Original y fotocopia de "constancia de expediente estudiantil completo". Solicitarlo en Registro y Estadística.</li>
                                <li>8.	 Solvencia General de Pago. (Copia Amarilla). Con sello de inscripción en el año lectivo.</li>
                                <li>9.	Dos fotocopia del recibo de pago del Examen Público. (Q. 250.00)</li>
                                <li>10.	Fotocopia del Documento Personal de Identificación vigente.</li>
                            </ul>
                            </font>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="capaDerechaRoja">
                            <b><font id="texto-14">E.	Previo al Examen Público de Graduación </font></b>
                            <hr id="linea_roja">
                            <font id="texto-14">						
                            <ul style="list-style: none;">
                                <li>1.	Protocolo del Acto: la Secretaría Académica le citará para darle información relativa al protocolo del examen público.</li>
                                <li>2.	Pago de uso de toga: efectuar el pago generando su <b>boleta de pago en línea</b>, costo: Q50 por toga del graduando y Q70 por toga de padrino.</li>
                                <ul style="list-style: none;">
                                    <li><b>2.1 Padrino, que sea Docente activo de la Facultad de Arquitectura:</b> no paga el uso de toga.</li>
                                    <li><b>2.2 Padrino, que sea Egresado y no sea Docente de la Facultad de Arquitectura:</b> paga Q70.00 por el uso de toga.</li>
                                    <li><b>2.3 Padrino, que no sea egresado ni Docente de la Facultad de Arquitectura:</b> deberá pagar su toga donde le corresponda.</li>
                                </ul>
                                <li>3.	Pago uso auditorio: efectuar pago de Q. 100.00 en la Tesorería de la Facultad para el derecho del auditorio y equipo necesario. </li>
                                <li>4.	Luego de efectuados los pagos, presentarse con la Asistente de Dirección con copia de los recibos.</li>
                                <li>5.	Prueba de toga: Si el acto es individual, se escogerá la toga el mismo día previo al inicio del acto.  Si el acto de graduación es colectivo, deberá pasar a tallarse la Toga con la Asistente de Dirección, en la fecha que se le indique.</li>
                            </ul>
                            </font>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="capaDerechaMorada">
                            <b><font id="texto-14">E.	Previo al Examen Público de Graduación </font></b>
                            <hr id="linea_morada">
                            <font id="texto-14">						
                            <ul style="list-style: none;">
                                <li>1.	Solicitud de impresión de título: Ocho días calendario después del examen público de graduación, deberá presentarse a la Secretaría de la Secretaría Académica, a recoger la constancia de remisión a Registro y Estadística de la solicitud de impresión de título, donde consta la fecha en que deberá recoger su título impreso para el trámite correspondiente de firmas. </li>
                                <li>2.	Firma y sello de título: Una vez impreso el título, deberá presentarlo, en horario de 14:00 a 19:00 horas, en la Secretaría del Decanato y entregar un sello dorado, para que el Decano lo firme y se troquele el sello de la Facultad.  </li>
                            </ul>
                            </font>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>			
                        <div id="capaDerecha">
                            <font id="texto-14">
                            Es importante destacar que en el acto de examen público de graduación, el último requisito que se le solicitará previo a que se le autorice el ostentar el título que lo acredita como egresado de nuestra casa de estudios, es su compromiso a ejercer la profesión con la ética que demanda nuestra universidad, para lo cual se le tomará el Juramento de ley (<a id="enlace_varios" href="../docs/publico/Juramento de Ley DG.pdf" target="_blanck">Diseño Gráfico</a>, <a id="enlace_varios" href="../docs/publico/Juramento de Ley ARQ.pdf" target="_blanck">Arquitectura</a>), del cual le adjunto una copia con el objeto de que reflexione sobre el compromiso que deberá asumir.<br><br>
                            <a id="enlace_varios" href="http://www.farusac.com/index.php/posgrados-sub/posgrados-maestrias" target="_blanck">
                                Al desearle muchos éxitos  profesionales, aprovecho para invitarlo a que continúe en nuestra casa de estudios, en cualquiera de las Maestría, especializaciones o cursos de actualización que ofrece la Escuela de Postgrados de la Facultad. Un saludo con estima.					
                            </a>
                            </font>
                        </div>					
                    </td>
                </tr>
            </table><br>
        </div>

    </body>
</html>