<!DOCTYPE html>
<html lang="es">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Facultad de Arquitectura - USAC">
        <meta name="author" content="Angel Caal">

        <title>Sistema de información académica - Estudiante</title>

        <!-- Bootstrap core CSS -->
        <link href="../css/bootstrap.css" rel="stylesheet">
        <link href="../css/menu.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="../css/sb-admin.css" rel="stylesheet">
        <link href="../css/bootstrap-theme.css" rel="stylesheet">


        <!-- Custom Fonts -->
        <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="../js/ie-emulation-modes-warning.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>

        {mensaje_aviso}

        {mensaje_error}

        {mensaje_proceso_finalizado}

        <div id="wrapper">
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">
                                Examen privado
                            </h1>                            
                            <ol class="breadcrumb">
                                <li class="active">
                                    <i class="fa fa-info fa-fw"></i> Es la evaluación final de Proyecto de Graduación desarrollado por el estudiante de la Facultad de Arquitectura, 
                                    ante un Tribunal Examinador integrado por el Decano, el Secretario y tres profesores o profesionales nombrados por el Decano.
                                </li>
                            </ol>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Requisitos para solicitud de examen privado
                                </div>
                                <div class="panel-body">
                                    <ol class="breadcrumb">
                                        <li class="active">
                                            <i class="fa fa-info fa-fw"></i> Puede solicitar Examen Privado el estudiante que ha completado los requisitos del pensum de estudios de la carrera a la que opta el grado y los que 
                                            establece el Normativo para el Sistema de Graduación de la Licenciatura de Arquitectura o de la Licenciatura en Diseño Gráfico.
                                        </li>
                                    </ol>

                                    <ul>
                                        <li>
                                            <font id="texto-14">
                                            <b>SOLICITUD DE EXAMEN.</b>  Al concluir su proyecto de graduación con la aprobación por parte del asesor y los consultores; deberá llenar 
                                            la solicitud (en línea) dirigida al Coordinador del Área de Investigación y Graduación, para su revisión y definición de fecha examen 
                                            privado.
                                            </font>
                                        </li>
                                        <li>
                                            <font id="texto-14">
                                            Junto con el comprobante de solicitud, debe adjuntar las cartas de aprobación del asesor y consultores, en la que conste que el 
                                            proyecto ha sido concluido y puede ser sometido a evaluación final.
                                            </font>
                                        </li>
                                        <li>
                                            <font id="texto-14">
                                            <b>PROGRAMACIÓN DE FECHA DEL EXAMEN Y NOMBRAMIENTO DEL TRIBUNAL EXAMINADOR.</b>  El Coordinador del Área de Graduación propondrá por 
                                            escrito al Decanato la fecha y hora para realizar el examen.  El Decano nombrará por medio de un Acuerdo de Decanato a los tres 
                                            profesionales que integrarán con él y el Secretario de la Facultad, el Tribunal Examinador que practicará el examen privado de 
                                            sustentación del proyecto de graduación.   
                                            </font>
                                        </li>
                                        <li>
                                            <font id="texto-14">
                                            <b>EMISION Y DISTRIBUCIÓN DEL NOMBRAMIENTO:</b> 
                                            A los profesionales que integran el Tribunal Examinador se les hará el nombramiento respectivo por parte del Decano. 3 días hábiles después de que
                                            el Coordinador del Área de Investigación y Graduación propuso al Decanato la fecha del examen, el estudiante deberá recoger los nombramientos en la
                                            Secretaría del Área de Investigación y Graduación -AIG- (en horario de 14:00 a 18:00 horas de lunes a viernes). Por lo menos 10 días hábiles antes de
                                            la fecha del examen, el estudiante debe entregar los nombramientos con una copia del documento final del proyecto de graduación a cada uno de los integrantes
                                            del Tribunal Examinador.
                                            </font>
                                        </li>
                                        <li>
                                            <font id="texto-14">
                                            <b>PAGO DE DERECHO DE EXAMEN.</b>  El estudiante debe realizar el pago de Q250.00 por Derecho a Examen Privado en el Banco Banrural,
                                            para lo cual debe generar la orden de pago respectiva.
                                            </font>
                                        </li>
                                        <li>
                                            <font id="texto-14">
                                            <b>PRESENTACION DE DOCUMENTACIÓN A SECRETARÍA ACADÉMICA.</b>  El estudiante deberá entregar al Secretario Académico de la Facultad, 
                                            por lo menos 10 días hábiles antes de la fecha del examen, una copia del Nombramiento de integración del Tribunal Examinador donde conste la recepción 
                                            de la carta (con firma de recibido) por cada uno de los evaluadores, más copia del documento de pago de derecho a examen (en horario de 13:00 a 19:00 horas).
                                            </font>
                                        </li>
                                        <li>
                                            <font id="texto-14">
                                            La Secretaria Académica verificará: a) la documentación presentada, b) el cumplimiento de cierre de pensum, c) constancia de 
                                            estar inscrito y d) constancia de pago por derecho de examen.  En caso de detectarse anomalías, estas deberán ser solventadas 
                                            por el estudiante previo a la realización del examen.
                                            </font>
                                        </li>
                                    </ul>
                                </div>
                                <div class="panel-footer">
                                    <div class="pull-right">
                                        <input class="btn btn-primary" type="button" value="Solicitud" OnClick="window.open('../privado/examen_privado_formulario.php', 'contenido')">
                                    </div><br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>