<!DOCTYPE html>
<html lang="es">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Facultad de Arquitectura - USAC">
        <meta name="author" content="Angel Caal">

        <title>Sistema de información académica - Estudiante</title>

        <!-- Bootstrap core CSS -->
        <link href="../css/bootstrap.css" rel="stylesheet">
        <link href="../css/menu.css" rel="stylesheet">

        <!-- Bootstrap theme -->
        <link href="../css/bootstrap-theme.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="../css/sb-admin.css" rel="stylesheet">


        <!-- Custom Fonts -->
        <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="../js/ie-emulation-modes-warning.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>

        {mensaje_aviso}

        {mensaje_error}

        {mensaje_proceso_finalizado}

        <div id="wrapper">
            <div id="page-wrapper">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">
                                Examen Público
                            </h1>
                            <ol class="breadcrumb">
                                <li class="active">
                                    <i class="fa fa-info"></i> Instructivo para pagos correspondientes a examen público y procedimiento para solicitud de fecha.
                                </li>
                            </ol>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            C. Al tener impreso el libro de su proyecto:
                        </div>
                        <div class="panel-body">
                            <ul style="list-style: none;">
                                <li>1.	Grabar en un CD:</li>
                                <ul>
                                    <li>
                                        I.	El  documento completo del proyecto de graduación en formato PDF
                                        <ul>
                                            <li>Incluye caratula, nómina de autoridades, índice, contenido, bibliografía, anexos, firmas</li>
                                            <li>No se debe separar los capítulos en carpetas</li>
                                            <li>La numeración debe ser idéntica al de la impresión</li>
                                            <li>Los planos no deben separarse, deben estar unificados en el mismo archivo tal y como está la impresión.</li>
                                        </ul>
                                    </li>
                                    <li>II.	El resumen del proyecto de graduación en formato PDF. </li>
                                    <li>III.	La presentación en multimedia, video o animación que usó en el examen privado.  </li>
                                    <li>IV.	Elaborar una carátula (tanto para el cd como para la caja) con la misma información de la carátula del libro. Utilizar un CD imprimible, no pegar calcomanía al disco.</li>
                                </ul>
                                <li>2.	Entregar un ejemplar del libro y del CD a la institución u organismo beneficiario del proyecto, acompañando la carta indicada en el numeral 6, verificando que le sellen de recibido una copia</li>
                                <li>3.	Entregar un ejemplar del libro y del CD en la sección de tesis, 5º nivel, Biblioteca Central USAC. Llenar y firmar el formulario que encontrará en <a id="enlace_varios" href="http://www.biblioteca.usac.edu.gt/documentos.php" target="_blanck">Biblioteca USAC</a></li>
                                <li>4.	Entregar los ejemplares correspondientes del libro y del CD en los lugares indicados en la lista de <a id="enlace_varios" href="../docs/publico/Contancia de entrega de libros.docx">constancia de recepción</a>; empezar la entrega por Junta Directiva.</li>
                                <li class="text text-danger">NOTA.	Consultar <a id="enlace_varios" href="../docs/publico/Guia Biblioteca Arquitectura.pdf" target="_blanck">guia</a> de requisitos específicos para las copias en Biblioteca de Arquitectura</li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            D.	Solicitud de examen público
                        </div>
                        <div class="panel-body">
                            <ol class="breadcrumb">
                                <li class="active">
                                    <i class="fa fa-info"></i> Presentar en la Recepción de la Facultad los días martes, miércoles o jueves, en horario de 14:00 a 19:00 horas, la siguiente documentación:
                                </li>
                            </ol>                            
                            <ul style="list-style: none;">
                                <li>1.	Constancia de Solicitud de examen público</li>
                                <li>2.	Carta a la institución beneficiaria del proyecto, con firma y sello de recepción en original.</li>
                                <li>3.	Hoja original de la constancia de recepción de entrega de los ejemplares y Cd´s del proyecto de graduación. </li>
                                <li>{variacion_calusac}</li>
                                <li>5.	Original de constancia de créditos extracurriculares extendida por la Asociación de Estudiantes.</li>
                                <li>6.	Solvencias originales de la Biblioteca Central y la Biblioteca de la Facultad. Tomar en cuenta que estas solvencias son válidas sólo por 24 horas.</li>
                                <li>7.	Original y fotocopia de "constancia de expediente estudiantil completo". Solicitarlo en Registro y Estadística.</li>
                                <li>8.	 Solvencia General de Pago. (Copia Amarilla). Con sello de inscripción en el año lectivo.</li>
                                <li>9.	Dos(2) copias del recibo de pago del Examen Público. (Q.250.00)</li>
                                <li>10.	Copia del recibo de pago de la impresión de título (orden de pago extendida por Secretaría Académica con un valor de Q115.00).</li>
                                <li>11.	Fotocopia del Documento Personal de Identificación.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            E. Previo al Examen Público de Graduación
                        </div>
                        <div class="panel-body">					
                            <ul style="list-style: none;">
                                <li>1.	Protocolo del Acto: la Secretaría Académica le citará para darle información relativa al protocolo del examen público.</li>
                                <li>2.	Pago de uso de toga: efectuar el pago generando su <b>boleta de pago en línea</b>, costo: Q50 por toga del graduando y Q70 por toga de padrino.</li>
                                <ul style="list-style: none;">
                                    <li><b>2.1 Padrino, que sea Docente activo de la Facultad de Arquitectura:</b> no paga el uso de toga.</li>
                                    <li><b>2.2 Padrino, que sea Egresado y no sea Docente de la Facultad de Arquitectura:</b> paga Q70.00 por el uso de toga.</li>
                                    <li><b>2.3 Padrino, que no sea egresado ni Docente de la Facultad de Arquitectura:</b> deberá pagar su toga donde le corresponda.</li>
                                </ul>
                                <li>3.	Pago uso auditorio: efectuar pago de Q. 100.00 en la Tesorería de la Facultad para el derecho del auditorio y equipo necesario. </li>
                                <li>4.	Luego de efectuados los pagos, presentarse con la Asistente de Dirección con copia de los recibos.</li>
                                <li>5.	Prueba de toga: Si el acto es individual, se escogerá la toga el mismo día previo al inicio del acto.  Si el acto de graduación es colectivo, deberá pasar a tallarse la Toga con la Asistente de Dirección, en la fecha que se le indique.</li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <div class="pull-right">
                                <input class="btn btn-primary" type="button" value="Ordenes de pago" OnClick="window.open('../publico/examen_publico_ordenpago.php', 'contenido')">
                            </div><br><br>
                        </div>
                    </div>

                    <!--tr>
                        <td>
                            <div id="capaDerechaMorada">
                                <b><font id="texto-14">E.	Impresión de Título</font></b>
                                <hr id="linea_morada">
                                <font id="texto-14">						
                                <ul style="list-style: none;">
                                    <li>1.	Solicitud de impresión de título: Ocho días calendario después del examen público de graduación, deberá presentarse a la Secretaría de la Secretaría Académica, a recoger la constancia de remisión a Registro y Estadística de la solicitud de impresión de título, donde consta la fecha en que deberá recoger su título impreso para el trámite correspondiente de firmas. </li>
                                    <li>2.	Firma y sello de título: Una vez impreso el título, deberá presentarlo, en horario de 14:00 a 19:00 horas, en la Secretaría del Decanato y entregar un sello dorado, para que el Decano lo firme y se troquele el sello de la Facultad.  </li>
                                </ul>
                                </font>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>			
                            <div id="capaDerecha">
                                <font id="texto-14">
                                Es importante destacar que en el acto de examen público de graduación, el último requisito que se le solicitará previo a que se le autorice el ostentar el título que lo acredita como egresado de nuestra casa de estudios, es su compromiso a ejercer la profesión con la ética que demanda nuestra universidad, para lo cual se le tomará el Juramento de ley (<a id="enlace_varios" href="../docs/publico/Juramento de Ley DG.pdf" target="_blanck">Diseño Gráfico</a>, <a id="enlace_varios" href="../docs/publico/Juramento de Ley ARQ.pdf" target="_blanck">Arquitectura</a>), del cual le adjunto una copia con el objeto de que reflexione sobre el compromiso que deberá asumir.<br><br>
                                <a id="enlace_varios" href="http://www.farusac.com/index.php/posgrados-sub/posgrados-maestrias" target="_blanck">
                                    Al desearle muchos éxitos  profesionales, aprovecho para invitarlo a que continúe en nuestra casa de estudios, en cualquiera de las Maestría, especializaciones o cursos de actualización que ofrece la Escuela de Postgrados de la Facultad. Un saludo con estima.					
                                </a>
                                </font>
                            </div>					
                        </td>
                    </tr-->
                    </table><br><br>
                </div>

                </body>
                </html>
