<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Sistema de Información Académica - Estudiante</title>
        <link rel="stylesheet" type="text/css" href="../css/estilo.css">
        <script type="text/javascript" src="../js/funciones.js"></script>
    </head>
    <body>

        <div id="menu_header">
            <font>Vista de Notificaciones ></font>
        </div>

        <div id="content">
            <table>
                <tr>
                    <td>
                        <font id="texto-14">De:</font><font id="texto_20">{remitente},</font>
                    </td>
                </tr>		
                <tr>
                    <td>
                        <font id="texto-14">Fecha: {fecha}</font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font id="texto_16borde">Para: {nombre_estudiante}</font>
                    </td>
                </tr>
            </table> 
            <table bgcolor="#F2F2F2">
                <tr>			
                    <td>				
                        <div id="gadget_instrucciones">
                            <table border="0">
                                <tr>
                                    <td>
                                        <span><b>Notificacion:</b></span><br><br>
                                        <font>{notificacion}</font>
                                    </td>							
                                </tr>
                            </table>
                        </div>				
                    </td>			
                </tr>
            </table>
        </div>

    </body>
</html>