<!DOCTYPE html>
<html lang="es">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Facultad de Arquitectura - USAC">
        <meta name="author" content="Angel Caal">

        <title>Sistema de información académica - Estudiante</title>

        <!-- Bootstrap core CSS -->
        <link href="../css/bootstrap.css" rel="stylesheet">
        <link href="../css/menu.css" rel="stylesheet">

        <!-- Bootstrap theme -->
        <link href="../css/bootstrap-theme.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="../css/sb-admin.css" rel="stylesheet">


        <!-- Custom Fonts -->
        <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="../js/ie-emulation-modes-warning.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>

        {mensaje_aviso}

        {mensaje_error}

        {mensaje_proceso_finalizado}

        <div id="wrapper">
            <div id="page-wrapper">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">
                                Notificaciones
                            </h1>
                            <ol class="breadcrumb">
                                <li class="active">
                                    <i class="fa fa-info"></i> Información de las diferentes unidades de la facultad de Arquitectura
                                </li>
                            </ol>
                        </div>
                    </div>

                    <div class="row">
                        <!--div class="col-lg-3">       

                            <!--div class="list-group">
                                <div class="list-group-item">
                                    Nueva consulta

                                    <div class="pull-right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                                Destinatarios
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu pull-right" role="menu">
                                                <!-- BEGIN destinatarios_consultas >
                                                <li>
                                                    <a href="../social/notificaciones_nueva_notificacion.php?destinatario={destinatario_notificacion}">
                                                        <div id="enlaces">{destinatario}</div>
                                                    </a>
                                                </li>
                                                <!-- END destinatarios_consultas>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div-->

                        <div class="col-lg-9">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Mensajes recibidos
                                </div>
                                <div class="panel-body">
                                    <!-- BEGIN notificaciones -->
                                    <a class="list-group-item" style="background: {leida}" href="notificaciones_leernotificacion.php?notificacion={notificacion}">                                        
                                        <font id="texto_14">{notificacion_abrev}</font>
                                        <div class="pull-right disabled">
                                            {fecha}
                                        </div>
                                    </a>
                                    <!-- END notificaciones -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery -->
        <script src="../js/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.js"></script>
        <script src="../js/notificaciones.js"></script>
        <script src="../js/funciones.js"></script>

    </body>
</html>