<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Sistema de Información Académica - Estudiante</title>
        <link rel="stylesheet" type="text/css" href="../css/estilo.css">
        <script type="text/javascript" src="../js/funciones.js"></script>
    </head>
    <body>

        <div id="proceso">
            <table id="titulo_proceso">
                <tr>
                    <td>
                        <font id="texto-18">Proceso Completado</font>
                    </td>
                </tr>
            </table>
            <!-- BEGIN proceso_completado -->
            <table id="contenido_proceso">
                <tr>
                    <td>
                        <font id="texto-16">{mensaje_proceso_completado}</font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="btn">
                            <input type="button" value="Regresar" OnClick="window.open('../menus/inicio.php', '_parent');">
                            <span>></span>						
                        </div>
                    </td>
                </tr>
            </table>
            <!-- END proceso_completado -->
        </div>

    </body>
</html>