<!DOCTYPE html>
<html lang="es">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Facultad de Arquitectura - USAC">
        <meta name="author" content="Angel Caal">

        <title>Sistema de información académica - Estudiante</title>

        <!-- Bootstrap core CSS -->
        <link href="../css/bootstrap.css" rel="stylesheet">
        <link href="../css/menu.css" rel="stylesheet">

        <!-- Bootstrap theme -->
        <link href="../css/bootstrap-theme.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="../css/sb-admin.css" rel="stylesheet">


        <!-- Custom Fonts -->
        <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="../js/ie-emulation-modes-warning.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>

        {mensaje_aviso}

        {mensaje_error}

        {mensaje_proceso_finalizado}

        <div id="wrapper">
            <div id="page-wrapper">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">
                                Sistema del proceso de graduación - SPG
                            </h1>
                            <ol class="breadcrumb">
                                <li class="active">
                                    <i class="fa fa-info"></i> 1.	Proceso en línea para solicitud, verificación y aprobación del proyecto de graduación, examen privado y examen público.
                                    <br />
                                    <i class="fa fa-info"></i>  IMPORTANTE: Se recomienda utilizar Firefox para el ingreso de la información.
                                </li>
                            </ol>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Estimado estudiante
                                </div>
                                <div class="panel-body">
                                    Con el propósito de facilitar, organizar y documentar el Proceso de Graduación, la administración pone a tu disposición el Sistema "SPG", que te permitirá gestionar la aprobación del tema a desarrollar, la aprobación del Proyecto de Graduación, el examen privado y el examen público.<br><br>

                                    Este Sistema te llevará paso a paso, solamente deberás seguir las instrucciones, incluir la información que se te solicite, imprimir los documentos, y estar atento a la comunicación que se te envíe desde el Sistema.<br><br>

                                    El SPG se ha dividido en tres secciones:<br><br>

                                    <ul>
                                        <li>Gestión del Proyecto de Graduación, solicitud de tema, aprobación de protocolo y asesores.</li>
                                        <li>Gestión del examen privado, que incluye fecha, examinadores, matrices y acta de examen.</li>
                                        <li>Gestión del examen público, entrega de documentos, fecha y actas.</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    Gestión del proyecto de graduación
                                </div>
                                <div class="panel-body">
                                    <ul>
                                        <li><b>Solicitar la aprobación del tema:</b></li>
                                        <ul>
                                            <!--li>Ingresar la modalidad en la cual se desarrollará el proyecto de graduación:</li>
                                            <ul>
                                                <li>Línea de Investigación y Graduación: cuando el proyecto se desarrollará dentro de la asignatura Diseño Arquitectónico 9.</li>
                                                <li>Área de interés: cuando el proyecto se desarrollará después de haber aprobado Diseño Arquitectónico 9.</li>
                                            </ul-->
                                            <li>Ingresar sus datos personales</li>
                                            <li>Ingresar el tema (nombre) del proyecto de graduación y localización</li>
                                            <li>Ingresar una breve descripción del tema a desarrollar y palabras clave.</li>
                                            <li>Indicar en que "tipo de proyecto" se enmarca su propuesta.</li>
                                        </ul>
                                    </ul>

                                    <div style="margin-left: 60px;">El Comité de aprobación le informará, a través del Sistema, la aprobación o no del tema propuesto, para que proceda a elaborar el "protocolo" y proponer los 3 asesores que lo acompañarán durante el desarrollo de su proyecto.</div>

                                    <ul>
                                        <li><b>Solicitar la aprobación del protocolo y de los asesores</b></li>
                                        <ul>
                                            <li>Ingresar: introducción, identificación del problema, justificación, objetivos, perfil del cliente y grupo objetivo.</li>
                                            <li>Ingresar nombre de los asesores (puede buscarlos por nombre o apellido en la lista)</li>
                                            <ul>
                                                <li>Si fuere asesor externo debe ingresar: nombre completo, profesión, número de colegiado, teléfono y correo electrónico.</li>                                        
                                            </ul>
                                            <li>Imprimir "cartas de aceptación", llevarla a cada asesor para su firma</li>
                                            <li>Debe presentar la carta de aceptación de cada asesor en la secretaría de la unidad de Investigación y Graduación - UIG -</li>
                                            <li>Debe presentar en la secretaría de la UIG la "carta de respaldo" de la institución que solicita o apoya el proyecto; ésta debe ser de carácter no lucrativo (Municipalidad, ONG, Cooperativa, Iglesia, Escuela, etc)</li>
                                        </ul>                                
                                    </ul>

                                    <ul>
                                        <li><b>Aprobación:</b> El Comité de aprobación le informará a través del Sistema su decisión. Si no es aprobado el Protocolo o los asesores, se le hará saber los motivos.</li>
                                        <ul>
                                            <li>Al ser aprobado se emitirá el Acuerdo de Decanato respectivo en el cual se nombra a los Asesores, se indica la fecha de inicio del tiempo aprobado y la fecha de culminación.</li>
                                            <li>El estudiante recibirá en la secretaría de la UIG el Acuerdo respectivo, deberá sacar cuatro copias para ser entregadas a los asesores, debiendo firmar los tres la cuarta copia, que será devuelta a la secretaría para su archivo correspondiente.</li>
                                            <li>Luego de ello puede desarrollar el "proyecto de graduación"</li>
                                        </ul>
                                    </ul>                            

                                    <ul>
                                        <li><b>Asesorías:</b></li>
                                        <ul>
                                            <li>De conformidad con el Normativo del Sistema de Graduación, usted debe recibir asesorías semanalmente, por lo que sus asesores llevarán control de las mismas en el Sistema de Administración Académica.</li>                                    
                                        </ul>
                                    </ul>

                                    <ul>
                                        <li><b>Prórroga:</b></li>
                                        <ul>
                                            <li>En caso no se termine el Proyecto en el tiempo establecido, el estudiante podrá solicitar prórroga a la coordinación de UIG, por una sola vez, con las justificaciones del caso y con el visto bueno de los asesores.</li>                                    
                                        </ul>
                                    </ul>

                                    <ul>
                                        <li><b>Aprobación del proyecto:</b></li>
                                        <ul>
                                            <li>Previo a hacer las gestiones del examen privado, cada uno de sus asesores deberá ingresar al Sistema de Administración Académica - Docente, donde dará su aprobación al Proyecto.</li>
                                        </ul>
                                    </ul>
                                </div>
                                <div class="panel-footer">
                                    <div class="pull-right">
                                        <input class="btn btn-primary" type="button" value="Solicitud de aprobación de tema" OnClick="window.open('../proyecto_graduacion/proyecto_graduacion_solicitud_formulario.php', 'contenido')">
                                    </div>
                                    <div class="pull-left">
                                        <input class="btn btn-info btn-sm" type="button" value="Recomendaciones" OnClick="window.open('../docs/proyecto_graduacion/tema_recomendaciones.pdf', '_blanck')">
                                        <input class="btn btn-info btn-sm" type="button" value="Instructivo" OnClick="window.open('../docs/proyecto_graduacion/tema_instructivo.pdf', '_blanck')">
                                    </div><br><br><br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
